/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative; /* Add position relative to manage absolute positioning inside */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    margin-left: 20px;
    display: flex;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #5B67B6;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.icon-container {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
}

.icon {
    font-size: 2rem;
    color: #000;
    padding: 5px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 0.8rem;
}

.notification-dropdown-container {
    position: absolute;
    top: 50px; /* Adjust this based on the icon's position */
    right: 0;
    z-index: 1000;
}
