/* signup.css */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.logo1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.logo2 {
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.inline {
    display: flex;
    align-items: center; /* Center vertically */
}

.admin-heading {
    margin-top: 10px;
    font-size: 1.5rem;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-field {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px !important;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.signup-button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 23px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.login-link {
    margin-top: 15px;
    text-align: center;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
