server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      routes:
        - id: PRODUCT-MANAGEMENT-SERVICE
          uri: lb://PRODUCT-MANAGEMENT-SERVICE
          predicates:
            - Path=/products/**
        - id: ORDER-MANAGEMENT-SERVICE
          uri: lb://ORDER-MANAGEMENT-SERVICE
          predicates:
            - Path=/orders/**
        - id: USER-MANAGEMENT-SERVICE
          uri: lb://USER-MANAGEMENT-SERVICE
          predicates:
            - Path=/auth/**, /users/*